.DS_Store
__pycache__
*.egg-info
.venv
MUJOCO_LOG.TXT
mujoco_menagerie
.venv/
assets/
mujoco_playground/external_deps/
mujoco_playground/_src/__pycache__/
mujoco_playground/_src/dm_control_suite/
mujoco_playground/_src/locomotion/
